.layoutWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    position: relative;

    .floatingButton {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        border-radius: 6px;
        background-color: #fbfbfb;
        color: #213f7d;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .childrenWrapper {
        position: relative;
        padding: 10px 36px;
        height: 100%;
        width: 100%;
        overflow: auto;
        background: #fbfbfb;
        height: calc(100vh - 100px);

        @media (max-width: 768px) {
            padding: 4px;
        }
    }
}
