.tabsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1037px;
    margin: 0 auto;
}

.customerTabsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1037px;
    min-height: 210px;
    background: #ffffff;
    border: 1px solid #213f7d0f;
    box-shadow: 3px 5px 20px 0px #0000000a;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;

    @media (min-width: 1024px) {
        width: 100%;
    }



    .userProfile {
        display: flex;
        gap: 10px;
        margin: 32px 8px;
        align-items: center;

        font-family: "Work Sans";

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        @media (max-width: 1024px) {
            display: flex;
            gap: 6px;
        }

        hr {
            height: 80px;
            border-width: 1px;
            opacity: 0.2;
            border: 1px solid #545f7d;

            @media (max-width: 768px) {
                width: 100%;
                height: 1px;
            }

            @media (max-width: 1024px) {
                width: 100%;
                height: 1px;
            }
        }

        .title {
            font-weight: 500;
            font-size: 22px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #213f7d;
            margin-bottom: 2px;
        }

        .subtitle {
            font-size: 14px;
        }

        .tier {
            p {
                text-align: center;
            }
        }
    }
    .customerTabs {
        display: flex;
        border-bottom: 1px solid #e5e7eb;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: none;
            gap: 4pxl;
        }

        @media (max-width: 1024px) {
            width: 100%;
            height: 1px;
        }

        .tab {
            padding: 12px 16px;
            font-size: 14px;
            color: #6b7280;
            border: none;
            background: none;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.8);
            &.active {
                color: #39cdcc;
                border-bottom: 2px solid #39cdcc;
                font-weight: 500;
                margin: 0px 16px;

                font-family: "Work Sans";
            }
        }
    }
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    max-width: 1037px;
    width: 100%;
    top: 530px;
    left: 343px;
    opacity: 1;
    border-radius: 4px;
    background: #ffffff;
    padding: 8px 16px;
    box-shadow: 3px 5px 20px 0px #0000000a;
    border: 1px solid #213f7d0f;
    padding: 16px;

    @media (max-width: 768px) {
        .detailsWrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
    }

    @media (max-width: 1024px) {
        .detailsWrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }
    }
    //font
    font-family: "Work Sans";

    .detailsSection {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title {
            margin: 8px 0;
        }

        .sectionTitle {
            margin-bottom: 16px;
            color: #213f7d;
            font-family: Work Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
        }

        .detailsGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 16px; // spacing for smaller screens
            }

            @media (max-width: 1024px) {
                .detailsWrapper {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 16px;
                }
            }
        }

        .detailItem {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .label {
                font-size: 12px;
                color: #6b7280;
                text-transform: uppercase;
                font-family: Work Sans;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0px;
                text-transform: uppercase;
            }

            .value {
                font-size: 14px;
                color: #111827;
                font-weight: 500;
            }
        }

        hr {
            max-width: 977px;
            width: 100%;
            border-width: 1px;
            opacity: 0.1;
            border: 1px solid #213f7d;
        }
    }
}

.heading {
    width: 100%;

    .arrow {
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;
    }

    .secondaryHeader {
        width: 100%;
        margin-bottom: 16px;

        &.secondaryHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;

            p {
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0px;
            }

            .buttonWrapper {
                display: flex;

                gap: 10px;
                align-items: center;

                button {
                    width: 170px;
                    height: 40px;

                    border-width: 1px;
                    opacity: 1;
                    border-radius: 8px;

                    font-family: Work Sans;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 10%;
                    text-align: center;
                    text-transform: uppercase;
                }

                .blacklist {
                    border: 1px solid #e4033b;
                    max-width: 170px;
                    background-color: transparent;
                    border-radius: 8px;
                    color: #e4033b;
                }

                .activate {
                    border: 1px solid #39cdcc;
                    max-width: 170px;
                    background-color: transparent;
                    border-radius: 8px;
                    color: #39cdcc;
                }
            }
        }
    }
}
